@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif !important; }

body {
  padding-top: 20px;
  background-color: #f5f5f5; }

.spinner-wrapper {
  background-color: #1ABC9C;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  z-index: 9999; }
  .spinner-wrapper > .spinner {
    position: relative;
    margin: 0 auto;
    top: 40%;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    transition: all 1s ease-in-out; }
    .spinner-wrapper > .spinner > div {
      background-color: white;
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
      animation: stretchdelay 1.2s infinite ease-in-out; }
    .spinner-wrapper > .spinner > p {
      color: white;
      margin-top: 10px;
      font-size: 13px; }
    .spinner-wrapper > .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .spinner-wrapper > .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }
    .spinner-wrapper > .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .spinner-wrapper > .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@-webkit-keyframes hideDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes hideDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.hideDown {
  -webkit-animation-name: hideDown;
  animation-name: hideDown; }

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes showUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.showUp {
  -webkit-animation-name: showUp;
  animation-name: showUp; }

.panel {
  margin-bottom: 5px;
  border-radius: 2px; }

.panel-accordion .panel-body {
  padding: 0;
  display: none; }

.panel-accordion .glyphicon-chevron-down {
  transition: all 300ms ease; }

.panel-accordion .user-title {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 0; }
  .panel-accordion .user-title:hover {
    background-color: #f9f9f9; }

.panel-accordion .list-group {
  margin-bottom: 0; }
  .panel-accordion .list-group .list-group-item {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd; }

.panel-accordion.opened {
  border-color: #1ABC9C; }
  .panel-accordion.opened .user-title {
    background-color: #1ABC9C;
    color: white; }
  .panel-accordion.opened .glyphicon-chevron-down {
    transform: rotate(180deg);
    margin-top: -3px;
    margin-right: 3px; }

.panel-posts .panel-body {
  padding: 25px; }

.media {
  margin-top: 25px; }
  .media .img-circle {
    margin-bottom: 10px; }
  .media .media-left {
    padding-right: 25px; }
  .media .media-heading {
    font-weight: 600; }
